<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>helpdesk-online</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>usuario.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cadastro de Usuario</display-name>
    <servlet-name>CadastroUsuario</servlet-name>
    <servlet-class>usuario.ServletCadastroUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroUsuario</servlet-name>
    <url-pattern>/CadastroUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cadastro funcionario</display-name>
    <servlet-name>CadastroFunc</servlet-name>
    <servlet-class>funcionarios.ServletCadastroFunc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroFunc</servlet-name>
    <url-pattern>/CadastroFunc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPesquisarFuncionariosNaoUsuarios</display-name>
    <servlet-name>ServletPesquisarFuncionariosNaoUsuarios</servlet-name>
    <servlet-class>funcionarios.ServletPesquisarFuncionariosNaoUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPesquisarFuncionariosNaoUsuarios</servlet-name>
    <url-pattern>/ServletPesquisarFuncionariosNaoUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroCargo</display-name>
    <servlet-name>CadastroCargo</servlet-name>
    <servlet-class>cargo.ServletCadastroCargo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroCargo</servlet-name>
    <url-pattern>/CadastroCargo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PesquisarProximoCodCargo</display-name>
    <servlet-name>PesquisarProximoCodCargo</servlet-name>
    <servlet-class>cargo.ServletPesquisarProximoCodCargo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PesquisarProximoCodCargo</servlet-name>
    <url-pattern>/PesquisarProximoCodCargo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PesquisarTodosCargos</display-name>
    <servlet-name>PesquisarTodosCargos</servlet-name>
    <servlet-class>cargo.ServletPesquisarTodosCargos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PesquisarTodosCargos</servlet-name>
    <url-pattern>/PesquisarTodosCargos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarUsuario</display-name>
    <servlet-name>AlterarUsuario</servlet-name>
    <servlet-class>usuario.ServletAlterarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarUsuario</servlet-name>
    <url-pattern>/AlterarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PesquisarTodosUsuarios</display-name>
    <servlet-name>PesquisarTodosUsuarios</servlet-name>
    <servlet-class>usuario.ServletPesquisarTodosUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PesquisarTodosUsuarios</servlet-name>
    <url-pattern>/PesquisarTodosUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListarFuncionarios</display-name>
    <servlet-name>ServletListarFuncionarios</servlet-name>
    <servlet-class>funcionarios.ServletListarFuncionarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListarFuncionarios</servlet-name>
    <url-pattern>/ServletListarFuncionarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAlterarFuncionarios</display-name>
    <servlet-name>ServletAlterarFuncionarios</servlet-name>
    <servlet-class>funcionarios.ServletAlterarFuncionarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlterarFuncionarios</servlet-name>
    <url-pattern>/ServletAlterarFuncionarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaDeFuncionariosParaAlteracao</display-name>
    <servlet-name>ListaDeFuncionariosParaAlteracao</servlet-name>
    <servlet-class>funcionarios.ServletListarFuncionariosParaAlteracao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaDeFuncionariosParaAlteracao</servlet-name>
    <url-pattern>/ListaDeFuncionariosParaAlteracao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PesquisarFuncionarioPorNome</display-name>
    <servlet-name>PesquisarFuncionarioPorNome</servlet-name>
    <servlet-class>funcionarios.PesquisarFuncionarioPorNome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PesquisarFuncionarioPorNome</servlet-name>
    <url-pattern>/PesquisarFuncionarioPorNome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroOcorrencia</display-name>
    <servlet-name>CadastroOcorrencia</servlet-name>
    <servlet-class>ocorrencia.ServletCadastroOcorrencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroOcorrencia</servlet-name>
    <url-pattern>/CadastroOcorrencia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroEquipamento</display-name>
    <servlet-name>CadastroEquipamento</servlet-name>
    <servlet-class>equipamento.ServletCadastroEquipamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroEquipamento</servlet-name>
    <url-pattern>/CadastroEquipamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroStatus</display-name>
    <servlet-name>CadastroStatus</servlet-name>
    <servlet-class>ocorrencia.status.ServletCadastroStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroStatus</servlet-name>
    <url-pattern>/CadastroStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroTipoOcorrencia</display-name>
    <servlet-name>CadastroTipoOcorrencia</servlet-name>
    <servlet-class>ocorrencia.tipo.ServletCadastroTipoOcorrencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroTipoOcorrencia</servlet-name>
    <url-pattern>/CadastroTipoOcorrencia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroSetor</display-name>
    <servlet-name>CadastroSetor</servlet-name>
    <servlet-class>setor.ServletCadastroSetor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroSetor</servlet-name>
    <url-pattern>/CadastroSetor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PesquisarTodosFuncionarios</display-name>
    <servlet-name>PesquisarTodosFuncionarios</servlet-name>
    <servlet-class>funcionarios.ServletPesquisarTodosFuncionarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PesquisarTodosFuncionarios</servlet-name>
    <url-pattern>/PesquisarTodosFuncionarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarTipoOcorrencia</display-name>
    <servlet-name>ListarTipoOcorrencia</servlet-name>
    <servlet-class>ocorrencia.tipo.ServletListarTipoOcorrencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTipoOcorrencia</servlet-name>
    <url-pattern>/ListarTipoOcorrencia</url-pattern>
  </servlet-mapping>
</web-app>